* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: "Roboto", sans-serif;
    --moz-osx-font-smoothing: "Roboto", sans-serif;
    font-style: normal;
    user-select: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

:root {
    --primary: #5E3BEE;
    --heading-color: #282938;
    --bg-shade: #F5FCFF;
    --github: #E62872;
    --darkblue: #1C1E53;
    --black: #000000;
    --white: #FFFFFF;
}

.btn {
    display: inline-block;
    padding: 14px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.btn-outline-primary {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
}

.btn-outline-primary:hover {
    color: var(--white);
    background-color: var(--primary);
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-primary:hover {
    color: var(--primary);
    background-color: white;
}

.btn-github {
    color: white;
    background-color: var(--github);
    border: var(--github);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
    gap: 16px;
}

.btn-github:hover {
    color: var(--github);
    background-color: var(--white);
}

/* MAIN HEADINGS */
h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

/* PARAGRAPHS */
.text-lg {
    color: var(--darkblue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.text-md {
    color: var(--darkblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.text-sm {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

/* All section titles */
/* Skills and About me */
.section--title {
    color: var(--heading-color);
    font-size: 21px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    align-items: flex-start;
}

/* Portfolio, Testimonials, and Contact me */
.sub--title {
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

/* ****************** NAVBAR ********************* */
.logo {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 85.333px;
    background-color: var(--white);
    box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar--items > ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
    gap: 42.667px;
    text-decoration: none;
}

.navbar--items > ul > li > a {
    text-decoration: none;
}

.navbar--content {
    color: var(--darkblue);
    font-size: 20px;
    transition: all 0.1s ease-in-out;
}

.navbar--content:hover {
    cursor: pointer;
    color: var(--github);
}

.navbar--active--content {
    color: var(--primary);
}

/* ****************** HERO SECTION ********************* */
.hero--section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 133.333px 85.333px 133.333px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--bg-shade);
}

.hero--section--content--box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.hero--section--content--box > button {
    margin-top: 21.333px;
}

.hero--section--content {
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    gap: 21.333px;
}

.hero--section--title {
    color: var(--heading-color);
    font-size: 74.667px;
    font-weight: 700;
    line-height: 90px;
    align-self: stretch;
}

.hero--section--title--a {
    font-size: 24px;
}

.hero--section--title--color {
    color: var(--primary);
}

.hero--section--description {
    color: var(--darkblue);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.hero--section--img {
    display: flex;
}

.hero-section--img > img {
    width: 100%;
    height: 100%;
}

/* ****************** ABOUT ME SECTION ********************* */
.about--section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 133.33px 85.33px;
    align-items: center;
    gap: 114.6px;
}

.about--section--img > img {
    width: 100%;
    height: 100%;
}

/* ****************** SKILL SECTION ********************* */
.skills--section {
    display: flex;
    flex-direction: column;
    padding: 149.33px 85.33px;
    justify-content: center;
    align-items: flex-start;
    gap: 106.667px;
}

.skills--section--heading {
    color: var(--heading-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 77px;
}

.skills--section--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: flex-start;    
    gap: 42.6px;
}

.skills--section--card {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    padding: 32px;
    align-items: flex-start;
    gap: 32px;
    border-radius: 10.6px;
    background-color: var(--bg-shade);
    min-height: 250px;
}

.skills--section--card:hover {
    border-bottom: 4px solid var(--primary);
    color: var(--darkblue);
}

.skills--section--img {
    display: flex;
    padding: 13.3px;
    justify-content: center;
    align-items: center;
    gap: 13.3px;
    border-radius: 10.6px;
    background-color: #FFF;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}

.skills--section--card--content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    align-self: stretch;
}

.skills--section--description {
    color: var(--darkblue);
    font-size: 21.3px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}



/* ****************** PORTFOLIO SECTION ********************* */
.portfolio--section {
    display: flex;
    flex-direction: column;
    padding: 112px 85.33px;
    align-items: flex-start;
}

.portfolio--container--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.portfolio--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.3px;
}

.portfolio--section--heading {
    color: var(--heading-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 77px;
    margin-bottom: 40px;
}


.portfolio--section--container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 42.6px
}

.portfolio--section--card {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background-color: #FFF;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.portfolio--section--img {
    border-radius: 8px;
    width: 100%;
}

.portfolio--section--img > img {
    width: 100%;
}

.portfolio--section--card--content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.porfolio--section--title {
    color: var(--heading-color);
}

.portfolio--link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 160px;
    border-bottom: 1.33px solid var(--primary);
    padding-bottom: 10.6px;
    font-weight: 600;
}

.portfolio--section--card:hover path {
    stroke: #006B6A;
}

/* ****************** TESTIMONIAL SECTION ********************* */
.testimonial--section {
    display: flex;
    flex-direction: column;
    padding: 112px 85.33px;
    align-items: flex-start;
    gap: 80px;
    background-color: var(--bg-shade);
}

.testimonial--section--card {
    display: flex;
    flex-direction: column;
    padding: 42.6px;
    align-items: flex-start;
    gap: 42.6px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1.33px solid #006B6A;
}

.testimonial--section--card--review {
    display: flex;
    align-items: flex-start;
    gap: 5.33px;
}

.testimonial--section--card--author--detail {
    display: flex;
    align-items: center;
    gap: 21.3px;
}

.testimonial--author--name {
    font-weight: 600;
    color: var(--heading-color);
}

.testimonial--author--designation {
    color: var(--darkblue);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

/* ****************** CONTACT ME SECTION ********************* */
.contact--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 85.33px;
    gap: 64px;
}

.contact--form--container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    width: 40%;
    row-gap: 32px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 32px;
    row-gap: 32px;
}

.contact--input {
    display: flex;
    padding: 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1.33px solid var(--primary);
    background-color: var(--white);
}

select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
      white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
      white no-repeat calc(100% - 20px); /* Better placement regardless of input width */
}

.submit--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.checkbox--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10.6px;
    flex: 1 0 0;
    justify-content: flex-start;;
    transform: translateY(-0.75em);
}